@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
@layer components {
  .input {
    @apply h-10 rounded px-4 outline-none border border-zinc-400 text-sm focus:border-black w-full;
  }
  .textarea {
    @apply rounded px-4 py-2.5 outline-none border border-zinc-400 text-sm focus:border-black resize-none w-full;
  }
  .nextButton {
    @apply bg-[#ff4e00] h-10 rounded text-white text-sm mt-5 disabled:opacity-50;
  }
  .prevButton {
    @apply bg-zinc-600 h-10 rounded text-white text-sm mt-5 disabled:opacity-50;
  }
}
